{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "serviceworker": true
    },
    "extends": "eslint:recommended",
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "workbox": "readonly"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": 1,
        "no-unused-vars": 0,
        "comma-dangle": [
            1,
            "always-multiline"
        ],
        "brace-style": [
            "warn",
            "stroustrup",
            {
                "allowSingleLine": true
            }
        ],
        "no-use-before-define": [
            "error",
            {
                "functions": false,
                "classes": true,
                "variables": true
            }
        ],
        "react/no-unused-prop-types": 1,
        "require-atomic-updates": 0
    }
}